---
---
/**
 * Import style components
 */

@import "colors";
@import "code-snippets";
@import "typography";
@import "links";

/**
 * Basic styling
 */

 body {
  background-color: $background-color;
 }

article {
  margin: 50px 0px;
}

/**
 * Wrapper
 */

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}
