---
---
/**
 * Import style components
 */

@import "colors";
@import "code-snippets";
@import "typography";
@import "links";
@import "cards";
@import "tags";

/**
 * Basic styling
 */


/**
 * Main
 */

main {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  padding: 0 20px;
  article {
    display: flex;
    width: 20%;
  }
}

/**
 * Wrapper
 */

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}
