.cards {
	align-items: center;
	border-radius: 3px;
	border: 1px solid #cccccc;
	border-top: 3px solid #2a7ae2;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	display: inline-flex;
	margin: 10px;
	min-height: 70px;
	transition: all 0.2s ease-in-out;
	position: relative;
	width: 100%;
	&:hover {
		border: 1px solid #2a7ae2;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	}
}