/* Links */

a {
  color: #2a7ae2;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  &:visited {
    color: #1756a9;
  }
  &:hover {
    color: red;
    text-decoration: none;
  }
}
