/* Typography Variables */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  color: $black;
  font-size: 16px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

p {
	font-size: 16px;
  line-height: 1.5em;
}

h1 {
	color: $bluegrey;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
}